.App {
  text-align: center;
}

.App-header {
  backgroundcolor: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainpage-div {
  background-color: #61dafb;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.main-page-leftcol {
  border: 2px solid black;
  width: 30%;
}

.left-title {
  font-size: 20px;
}
.left-item {
  border: 2px solid purple;
}

.main-page-rightcol {
  border: 2px solid red;
  width: 70%;
}

.workshop-creation-page {
  /* background-color: blue; */
}

.wcp-header {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.wcp-header-title {
  order: 1;
  display: flex;
  /* background-color: red; */
  align-self: stretch;
  align-items: flex-end;
  margin-left: 70px;
}

.wcp-header-title-font {
  margin-bottom: 0.2em;
  color: #000000d9;
  font-weight: 600;
  font-size: 30px;
}

.wcp-header-button-list {
  order: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: stretch;
  margin-bottom: 5px;
  background-color: white;
}

.wcp-header-button-item {
  background-color: purple;
  display: flex;
  justify-content: flex-end;
}

.create-workshop-modal {
}

.cwm-subheaders {
  margin-top: 7px;
  margin-bottom: 2px;
  font-weight: bold;
}

.cwm-nf-list {
}

.node-field-component {
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: blue; */
}

.nf-item {
  display: flex;
  flex-direction: column;
}

.nf-item-title {
  font-weight: bold;
}
.nf-item-subtitle {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  /* background-color: #61dafb; */
}

.nf-content {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
}

.json-display {
  display: flex;
  flex-direction: column;
  /* align: flex-start; */
  border: 2px solid black;
}

.json-display-header {
  display: flex;
  flex-direction: row;
}

.json-workshop-name {
  order: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 35%;
  justify-content: center;
  /* border: 2px solid blue; */
}

.json-no-components {
  order: 0;
  justify-content: flex-start;
  display: flex;
  align-content: flex-start;
  /* border: 2px solid red; */
  margin-top: 0px;
}

.json-display-body {
  display: flex;
  flex-direction: column;
  /* margin-left: 50px; */
  /* border: 2px solid blue; */
}

.json-display-component {
  margin-top: 5px;
  /* border: 2px solid green; */
}

.json-component-name {
  align-items: flex-start;
  display: flex;
  font-size: 22px;
}

.json-subcomponent-name {
  /* border: 2px solid green; */
  font-size: larger;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.json-display-hazard {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  /* border: 2px solid purple; */
  justify-content: space-evenly;
}

.json-display-hazards-col-heading {
  display: flex;
  flex-direction: row;
}

.json-hazard-col-heading {
  font-size: medium;
  font-weight: bold;
  width: 20%;
}

.json-display-hazards-col {
  /* border: 2px solid yellowgreen; */
  width: 20%;
  border-right: 1px solid lightblue;
}

.json-hazard-name {
  /* border: 2px solid maroon; */
  display: flex;
}

.json-display-causes {
  display: flex;
  width: auto;
  flex-direction: column;
  /* margin-left: 30px; */
  /* border: 2px solid cyan; */
  /* justify-content: center;*/
}

.hazard-col-heading {
  font-size: medium;
  font-weight: bold;
}

.json-display-points {
  margin-left: 2px;
  margin-right: 2px;
}

.testItem {
  font-size: 100px;
  border: 1px solid black;
  background-color: red;
  width: 30%;
  display: flex;
  justify-content: center;
  align-self: center;
}
