.body {
  /* background-color: rgb(72, 199, 199); */
  height: 100%;
}

.card-list {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* background-color: lightcoral; */
  height: 100%;
}

.card {
  border: 1px solid black;
  height: 50vh;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.card-col-left {
  /* background-color: blueviolet; */
  width: 60%;
  display: flex;
  align-content: flex-start;
  /* border: 1px solid red; */
  /* background-color: aqua; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.card-col-right {
  /* background-color: maroon; */
  width: 40%;
}

.workshop-name {
  display: flex;
  height: 5vh;
  /* border: 4px solid purple; */
  padding: 0;
  /* background-color: maroon; */
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 30px;
  margin-left: 10px;
}

.workshop-date-display {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 22px;

  /* border: 4px solid purple; */
  /* background-color: yellow; */
}
.status-display {
  height: 2vh;
}

.workshop-name-outline {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  /* border: 1px solid black; */
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 25px;
  margin-top: 5px;
}

.workshop-status {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 22px;
}

.dw-header {
  height: 20vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}

.dw-header-title {
  display: flex;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  /* background-color: red; */
  font-weight: 600;
  font-size: 38px;
  height: 40%;
}

.dw-header-details {
  display: flex;
  height: 70%;
  /* background-color: aqua; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 28px;
}

.dw-body {
  height: 80vh;
  display: flex;
  flex-direction: row;
  /* background-color: green; */
}

.dw-body-left-col {
  width: 20%;
  background-color: white;
  border: 1px solid black;
  height: 80vh;
}

.dw-body-right-col {
  width: 80%;
  background-color: brown;
}

.dw-carousel-div {
  background-color: aquamarine;
  height: 80vh;
}

.ew-main-div {
  height: 100vh;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
}

.ew-main-body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.ew-left-col {
  background-color: lightsalmon;
  width: 30%;
  height: 97vh;
}
.ew-right-col {
  background-color: lightseagreen;
  width: 70%;
  height: 97vh;
}

.ew-hazard-sel-title {
  background-color: lightcoral;
  height: 3vh;
}

.ew-hazard-content {
  background-color: white;
  height: 94vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ew-hazard-col {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
}

.ehi-box {
  font-size: 14px;
  height: 2.3em;
  /* line-height: 1.3; */
  border: 1px solid rgb(207, 205, 205);
  display: flex;
  align-items: center;
  margin-top: 1px;
  margin-left: 3px;
  margin-right: 2px;
  border-radius: 5px;
}

.ehi-box-default {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  /* background-color: chartreuse; */
}
